body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  background-color: #f7f7f9;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row textarea {
  width: 100%;
  overflow: auto;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}
.container {
  width: 75%;
  font-size: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.debug-btn {
  width: 100%;
  line-height: inherit;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-appearance: button;
}
.header {
  padding-top: 25px;
}
